html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    border: border-box;
    scroll-behavior : smooth;
    color: white;
    background-color: rgb(24, 24, 24);
}
.header{
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}
.headerLogoTxtDiv{
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 100px;
    font-size: 19px;
}
.logo{
    width: 50px;
}
.headerOptionDiv{
    width: 40vw;
    gap:2px;
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1px;
}
.link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}
.headerOptionContactDivTxt{
    background-color: white;
    color: rgb(101, 101, 101);
    padding: 8px 13px 8px 13px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 1px;
}
.page1{
    width: 100vw;
    display: flex;
    padding-bottom: 30px;
}
.page1Txt{
    width: 50vw;
    padding-left: 100px;
    padding-top: 50px;
    z-index: 23;
}
.page1Img{
    width: 100%;
    z-index: 3;
}
.page1ImgDiv{
    width: 50vw;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.page1Txt1{
    height: 24px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: rgb(40, 40, 40);
    border: 1px solid rgba(255, 255, 255, 0.151);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.page1Txt2{
    font-size: 180px;
    z-index: 34;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.page1Txt3{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}
.page2{
    background-color: rgb(29, 29, 29);
    width: 100vw;
    display: flex;
}
.page2Txt{
    width: 50%; 
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-evenly;
}
.page2Txt1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.328);
    padding: 50px 0px 0px 100px;
}
.page2Txt2{
    padding-left: 100px;
    font-size: 65px;
}
.page2Txt3{
    padding-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.757);
}
.page2Txt4{
    width: 250px;
    height: 45px;
    background-color: white;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
}
.page2Txt5{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(171, 170, 170);
    padding: 5px 0px 50px 100px;
}
.page2ImgDiv{
    width: 50%;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.page2Img{
    width:100%;
}
.page3{
    width: 100vw;
    height: auto;
    padding-bottom: 80px;
}
.page3Txt{
    width: 100vw;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.page3Txt1{
    padding-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff6b;
    font-size: 15px;
}
.page3Txt2{
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 52px;
}
.page3Txt3{
    padding-top: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff6b;
    font-size: 17px;
}
.page3ImgDiv{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.page3Img1Div{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.page3Img1{
    width: 90%;
}
.page3Img3Div{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.page3Img3{
    width: 90%;
}
.page3_Img2_Txt_Div_Outer{
    width: 40%;
    display: flex;
    justify-content: center;
}
.page3Img2{
    padding: 0;
    width: 91%;
}
.page3Img2Div{
    width: 100%;
    padding-top: 4%;
    display: flex;
    justify-content: center;
}